<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="chi_software.citybase">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-sdk tools:overrideLibrary="android.support.customtabs"/>

    <application
        android:name=".core.CityApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.StartScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.pager.DetailPostActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.RegistrationActivity">
        </activity>
        <activity
            android:name=".ui.SmsActivity"
            android:theme="@style/windowBack">
        </activity>
        <activity
            android:name=".ui.MyAmountHistory"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.pager.BigViwerActivity"
            android:theme="@style/Theme.Transparent">
        </activity>
        <activity
            android:name=".ui.forgotPass.ForgotPassActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.forgotPass.NewPassActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

    </application>

</manifest>